<h1>Welcome to the longest word-game!</h1>
<p>Here is your grid:</p>
<%= @grid.join(' ') %>

<form action="/score">
  <label for="question">What's your word ?</label>
  <input type="text" id="question" name="word" placeholder="what time is it?">
  <input type="hidden" value="Go on!">
</form>
